<section class="mywork" style="height: 3050px; max-width: 3050;">
    <div class="container book">


        <app-navbar></app-navbar>



        <div class="row mt-4" id="gallery" data-bs-toggle="modal" data-bs-target="#exampleModal">

            <div class="col-lg-4 mb-4">
                <img class="w-100 mb-4 rounded" style="object-fit: cover;" src="../../../../assets/img/photography/portrait/land1.jpg" alt="" data-bs-target="#carouselExampleFade" data-bs-slide-to="0">

                <img class="w-100 mb-4 rounded" style="object-fit: cover;" src="../../../../assets/img/photography/portrait/port1.jpg" alt="" data-bs-target="#carouselExampleFade" data-bs-slide-to="3">

                <img class="w-100 mb-4 rounded" style="object-fit: cover;" src="../../../../assets/img/photography/portrait/port12.jpg" alt="" data-bs-target="#carouselExampleFade" data-bs-slide-to="6">


                <img class="w-100 mb-4 rounded" style="object-fit: cover;" src="../../../../assets/img/photography/portrait/port7.jpg" alt="" data-bs-target="#carouselExampleFade" data-bs-slide-to="9">

                <img class="w-100 mb-4 rounded" style="object-fit: cover;" src="../../../../assets/img/photography/portrait/port14.jpg" alt="" data-bs-target="#carouselExampleFade" data-bs-slide-to="13">

                <img class="w-100 mb-4 rounded" style="object-fit: cover;" src="../../../../assets/img/photography/portrait/port11.jpg" alt="" data-bs-target="#carouselExampleFade" data-bs-slide-to="16">
            </div>

            <div class="col-lg-4 mb-4">
                <img class="w-100 mb-4 rounded" style="object-fit: cover;" src="../../../../assets/img/photography/portrait/port2.jpg" alt="" data-bs-target="#carouselExampleFade" data-bs-slide-to="1">
                <img class="w-100 mb-4 rounded" style="object-fit: cover;" src="../../../../assets/img/photography/portrait/land2.jpg" alt="" data-bs-target="#carouselExampleFade" data-bs-slide-to="4">
                <img class="w-100 mb-4 rounded" style="object-fit: cover;" src="../../../../assets/img/photography/portrait/port6.jpg" alt="" data-bs-target="#carouselExampleFade" data-bs-slide-to="7">

                <img class="w-100 mb-4 rounded" style="object-fit: cover;" src="../../../../assets/img/photography/portrait/land4.jpg" alt="" data-bs-target="#carouselExampleFade" data-bs-slide-to="10">

                <img class="w-100 mb-4 rounded" style="object-fit: cover;" src="../../../../assets/img/photography/portrait/land5.jpg" alt="" data-bs-target="#carouselExampleFade" data-bs-slide-to="11">

                <img class="w-100 mb-4 rounded" style="object-fit: cover;" src="../../../../assets/img/photography/portrait/port8.jpg" alt="" data-bs-target="#carouselExampleFade" data-bs-slide-to="14">

                <img class="w-100 mb-4 rounded" style="object-fit: cover;" src="../../../../assets/img/photography/portrait/port10.jpg" alt="" data-bs-target="#carouselExampleFade" data-bs-slide-to="17">

            </div>

            <div class="col-lg-4 mb-4">
                <img class="w-100 mb-4 rounded" style="object-fit: cover;" src="../../../../assets/img/photography/portrait/land3.jpg" alt="" data-bs-target="#carouselExampleFade" data-bs-slide-to="2">
                <img class="w-100 mb-4 rounded" style="object-fit: cover;" src="../../../../assets/img/photography/portrait/port3.jpg" alt="" data-bs-target="#carouselExampleFade" data-bs-slide-to="5">
                <img class="w-100 mb-4 rounded" style="object-fit: cover;" src="../../../../assets/img/photography/portrait/port5.jpg" alt="" data-bs-target="#carouselExampleFade" data-bs-slide-to="8">

                <img class="w-100 mb-4 rounded" style="object-fit: cover;" src="../../../../assets/img/photography/portrait/port9.jpg" alt="" data-bs-target="#carouselExampleFade" data-bs-slide-to="12">

                <img class="w-100 mb-4 rounded" style="object-fit: cover;" src="../../../../assets/img/photography/portrait/port4.jpg" alt="" data-bs-target="#carouselExampleFade" data-bs-slide-to="15">

                <img class="w-100 mb-4 rounded" style="object-fit: cover;" src="../../../../assets/img/photography/portrait/port13.jpg" alt="" data-bs-target="#carouselExampleFade" data-bs-slide-to="18">

            </div>
        </div>


        <!-- Modal gallery -->

        <!-- Image 1 -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModal" aria-hidden="true">
            <div class="modal-dialog modal-lg modal-dialog-centered">

                <div class="modal-content" style="background-color: chartreuse;">
                    <!-- <div class="modal-header" style="background-color: red;">
                        <button type="button" class="btn-close bg-success rounded" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div> -->
                    <div class="modal-body" style="padding: 10px">
                        <!-- cambia este padding y se quitara el fondo blanco -->
                        <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel" data-bs-interval="false">

                            <div class="carousel-inner">

                                <div class="carousel-item active" data-bs-target="#carouselExampleFade" data-bs-slide-to="0">
                                    <img src="../../../../assets/img/photography/portrait/land1.jpg" class="d-block w-100 rounded" alt="...">
                                </div>

                                <div class="carousel-item" data-bs-target="#carouselExampleFade" data-bs-slide-to="1">
                                    <img src="../../../../assets/img/photography/portrait/port2.jpg" class="d-block rounded retrato2" alt="...">
                                </div>

                                <div class="carousel-item" data-bs-target="#carouselExampleFade" data-bs-slide-to="2">
                                    <img src="../../../../assets/img/photography/portrait/land3.jpg" class="d-block w-100 rounded" alt="...">
                                </div>

                                <div class="carousel-item" data-bs-target="#carouselExampleFade" data-bs-slide-to="3">
                                    <img src="../../../../assets/img/photography/portrait/port1.jpg" class="d-block rounded retrato" alt="...">
                                </div>

                                <div class="carousel-item" data-bs-target="#carouselExampleFade" data-bs-slide-to="4">
                                    <img src="../../../../assets/img/photography/portrait/land2.jpg" class="d-block w-100 rounded" alt="...">
                                </div>


                                <div class="carousel-item" data-bs-target="#carouselExampleFade" data-bs-slide-to="5">
                                    <img src="../../../../assets/img/photography/portrait/port3.jpg" class="d-block rounded retrato2" alt="...">
                                </div>


                                <div class="carousel-item" data-bs-target="#carouselExampleFade" data-bs-slide-to="6">
                                    <img src="../../../../assets/img/photography/portrait/port12.jpg" class="d-block rounded retrato2" alt="...">
                                </div>

                                <div class="carousel-item" data-bs-target="#carouselExampleFade" data-bs-slide-to="7">
                                    <img src="../../../../assets/img/photography/portrait/port6.jpg" class="d-block rounded retrato2" alt="...">
                                </div>

                                <div class="carousel-item" data-bs-target="#carouselExampleFade" data-bs-slide-to="8">
                                    <img src="../../../../assets/img/photography/portrait/port5.jpg" class="d-block rounded retrato2" alt="...">
                                </div>

                                <div class="carousel-item" data-bs-target="#carouselExampleFade" data-bs-slide-to="9">
                                    <img src="../../../../assets/img/photography/portrait/port7.jpg" class="d-block rounded retrato2" alt="...">
                                </div>


                                <div class="carousel-item" data-bs-target="#carouselExampleFade" data-bs-slide-to="10">
                                    <img src="../../../../assets/img/photography/portrait/land4.jpg" class="d-block w-100 rounded" alt="...">
                                </div>
                                <div class="carousel-item" data-bs-target="#carouselExampleFade" data-bs-slide-to="11">
                                    <img src="../../../../assets/img/photography/portrait/land5.jpg" class="d-block w-100 rounded" alt="...">
                                </div>

                                <div class="carousel-item" data-bs-target="#carouselExampleFade" data-bs-slide-to="12">
                                    <img src="../../../../assets/img/photography/portrait/port9.jpg" class="d-block rounded retrato2" alt="...">
                                </div>


                                <div class="carousel-item" data-bs-target="#carouselExampleFade" data-bs-slide-to="13">
                                    <img src="../../../../assets/img/photography/portrait/port14.jpg" class="d-block rounded retrato2" alt="...">
                                </div>

                                <div class="carousel-item" data-bs-target="#carouselExampleFade" data-bs-slide-to="14">
                                    <img src="../../../../assets/img/photography/portrait/port8.jpg" class="d-block rounded retrato2" alt="...">
                                </div>

                                <div class="carousel-item" data-bs-target="#carouselExampleFade" data-bs-slide-to="15">
                                    <img src="../../../../assets/img/photography/portrait/port4.jpg" class="d-block rounded retrato2" alt="...">
                                </div>


                                <div class="carousel-item" data-bs-target="#carouselExampleFade" data-bs-slide-to="16">
                                    <img src="../../../../assets/img/photography/portrait/port11.jpg" class="d-block rounded retrato2" alt="...">
                                </div>

                                <div class="carousel-item" data-bs-target="#carouselExampleFade" data-bs-slide-to="17">
                                    <img src="../../../../assets/img/photography/portrait/port10.jpg" class="d-block rounded retrato2" alt="...">
                                </div>



                                <div class="carousel-item" data-bs-target="#carouselExampleFade" data-bs-slide-to="18">
                                    <img src="../../../../assets/img/photography/portrait/port13.jpg" class="d-block rounded retrato2" alt="...">
                                </div>






                            </div>
                            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
                          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                          <span class="visually-hidden">Previous</span>
                        </button>
                            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
                          <span class="carousel-control-next-icon" aria-hidden="true"></span>
                          <span class="visually-hidden">Next</span>
                        </button>
                        </div>
                    </div>
                    <!-- <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>                 
                 </div> -->
                </div>
            </div>
        </div>
    </div>
</section>