<section style="height: 1500px">
    <div class="container book" style="height: 100vh;">
        <div class="row text-center p-5">
            <div class="col-md-12">
                <app-navbar></app-navbar>
            </div>
        </div>

        <div class="row " style="height: 100vh;">

            <div class="col-lg-4 mb-4">
                <a href="" data-bs-toggle="modal" data-bs-target="#modalImage1">
                    <img class="w-100 mb-4 rounded" style="object-fit: cover;" src="../../../../assets/img/photography/portrait/land1.jpg" alt="">
                </a>
                <img class="w-100 mb-4 rounded" style="object-fit: cover;" src="../../../../assets/img/photography/portrait/port1.jpg" alt="">
                <img class="w-100 mb-4 rounded" style="object-fit: cover;" src="../../../assets/img/photography/portrait/land1.jpg" alt="">
                <img class="w-100 mb-4 rounded" style="object-fit: cover;" src="../../../assets/img/photography/portrait/land2.jpg" alt="">


            </div>
            <div class="col-lg-4 mb-4">
                <img class="w-100 mb-4 rounded" style="object-fit: cover;" src="../../../assets/img/photography/portrait/port2.jpg" alt="">
                <img class="w-100 mb-4 rounded" style="object-fit: cover;" src="../../../assets/img/photography/portrait/land2.jpg" alt="">
                <img class="w-100 mb-4 rounded" style="object-fit: cover;" src="../../../assets/img/photography/portrait/port2.jpg" alt="">
            </div>

            <div class="col-lg-4 mb-4">
                <img class="w-100 mb-4 rounded" style="object-fit: cover;" src="../../../assets/img/photography/portrait/land3.jpg" alt="">
                <img class="w-100 mb-4 rounded" style="object-fit: cover;" src="../../../assets/img/photography/portrait/port3.jpg" alt="">
                <img class="w-100 mb-4 rounded" style="object-fit: cover;" src="../../../assets/img/photography/portrait/port1.jpg" alt="">
            </div>
        </div>
    </div>
</section>