<nav>
    <ul class="nav d-flex  justify-content-center align-items-center  w-100 navPhoto">
        <li routerLinkActive="active">
            <a class="nav-link active enlace " aria-current="page" routerLink="/photography">Retrato</a></li>

        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle enlace " data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Viaje</a>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item bg-white" routerLink="/photography/travel">Francia</a></li>
                <li><a class="dropdown-item bg-white" href="#">Canada</a></li>
                <li><a class="dropdown-item bg-white" href="#">Amsterdam</a></li>
                <li><a class="dropdown-item bg-white" href="#">Italia</a></li>
            </ul>
        </li>

        <li><a class="nav-link enlace " routerLink="/photography/sport">Deporte</a></li>
        <li><a class="nav-link enlace " routerLink="/photography/documentary">Documental</a></li>
    </ul>

</nav>